#tabla{
  margin: 0 auto;
  width: 50%;
  height:30%;
  border: 1px solid #990000;
}
h1{
  color: #008080;
}
h2{
  color: blue;
}
.color-rojo{
  color: red;
}
#color-amarillo{
  color: yellow;
}
.color-azul{
  color: blue;
}
.color-morado{
  color:#800080;
}
#titulo-tabla{
  text-align: center;
  color: blue;
}
#tabla{
  border: red;
}
#segunda-parte{
  color: green;
}
#color-verde{
  color: #808000;
}
